*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    position:fixed;
    width:100%;
    top:0;
    background:#111827;
    padding:15px 50px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#2563eb,#7c3aed);
}

.hero h1{
    font-size:60px;
}

.hero span{
    color:#facc15;
}

.hero p{
    margin:15px 0;
    font-size:20px;
}

.btn{
    background:#facc15;
    color:black;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:100px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.skill-box{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    justify-content:center;
}

.skill-box div{
    background:#1e293b;
    padding:15px 25px;
    border-radius:10px;
}

.project-card{
    background:#1e293b;
    padding:20px;
    margin:20px 0;
    border-radius:15px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-8px);
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}

@media(max-width:768px){

.hero h1{
    font-size:35px;
}

nav{
    flex-direction:column;
}

nav ul{
    margin-top:10px;
}

}